<footer>
    <div id="cod">
    CODIAL (ALL_RIGHTS_RESERVED)
    </div>
    <div>
        <ul>
            <li> <a id="home" href="/">Home</a></li>
            <li> <a id="profile" href="/user/profile">profile</a></li>
        </ul>
    </div>
</footer>