#footer{
    background-color: rgb(138, 81, 81);
    height:20%;
    font-size: 1.3rem;
    color: lightyellow;
   // padding-top: 100%;
   #cod{
       padding-top:4%;
       padding-left: 2%;
   }
}