#header{
    background-color: rgb(138, 81, 81);
    height:20%;
   display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    #CODEIAL{
    font-size: 3rem;
    padding-top: 2%;
    color: lightyellow;
    }
    #sign-in{
    //    background-color: lightyellow;
        margin-left: 1150px;
        font-size: 1.2rem;
      text-decoration: none;
      font-weight: bolder;
      color: rgb(0, 0, 0);
  // padding-bottom: 71rem;
 
    }
    #sign-up{
    //    background-color: lightyellow;
        margin-left: 1150px;
        font-size: 1.2rem;
        text-decoration: none;
        font-weight: bolder;
        color: rgb(0, 0, 0);
    }
    #sign-out{
        margin-left: 1150px;
        font-size: 1.2rem;
        text-decoration: none;
        font-weight: bolder;
        color: rgb(0, 0, 0);
    }
}
ul{
    list-style-type: none;
}